<main>
        <h3>Nosso Cardápio</h3>
        <p>Cada prato que servimos é uma obra de arte gastronômica cuidadosamente elaborada por nossos talentosos chefs. Nossa culinária é uma fusão de tradição e inovação, com uma paleta de sabores que abraça influências de todo o mundo. Desde pratos clássicos até criações contemporâneas, o nosso cardápio oferece uma variedade de opções para atender a todos os gostos e preferências.</p>

        <div id="link-category">
                <a href="#lanches" class="pill">lanches</a>
                <a href="#massas" class="pill">massas</a>
                <a href="#" class="pill">sobremessas</a>
                <a href="#" class="pill">bebidas</a>
        </div>

        <h4 id="lanches">🍔 lanches</h4>
        <section>
                {loop="$produtos"}
                <div class="card">                        
                        <img src="{$value.imagem}" alt="food">
                        <div class="card-body">
                                <h5>{$value.nome}</h5>
                                <p>{$value.descricao}</p>
                                <p class="price">{function="formatarPreco($value.preco)"}</p>    
                        </div>
                </div> 
                {/loop}        
        </section>

        <h4 id="massas">🍝 massas</h4>
        <section>
                <div class="card">
                <img src="assets/img/massa1.jpg" alt="food">
                <div class="card-body">
                        <h5>carbonara</h5>
                        <p>massa italiana, molho branco, bacon, queijo parmesão e ovo</p>
                        <p class="price">R$ 35,00</p>
                </div>
                </div>
                <div class="card">
                <img src="assets/img/massa1.jpg" alt="food">
                <div class="card-body">
                        <h5>carbonara</h5>
                        <p>massa italiana, molho branco, bacon, queijo parmesão e ovo</p>
                        <p class="price">R$ 35,00</p>
                </div>
                </div>
                <div class="card">
                <img src="assets/img/massa1.jpg" alt="food">
                <div class="card-body">
                        <h5>carbonara</h5>
                        <p>massa italiana, molho branco, bacon, queijo parmesão e ovo</p>
                        <p class="price">R$ 35,00</p>
                </div>
                </div>
        </section>
</main>
